!!! 5
%html
	= haml :"/layouts/_head"
	%body
		= haml :"/layouts/_header"
		%section
			%div.container
				%h4 Journal
				= haml :"journal/_entries"
	= haml :"/layouts/_footer"
	= haml :"/layouts/_scripts"

