---
import { getCollection } from 'astro:content';
import { ChaosGallery, Grid, GridItem, Header, SocialLinks, TimelineItem } from 'src/components';
import PostImage from 'src/components/PostImage.astro';
import PostVideo from 'src/components/PostVideo.astro';
import Layout from 'src/layouts/Layout.astro';
import { filterEntriesByStatus, mapEntryEssentials, sortEntriesByDate } from 'src/utils';

const writing = await getCollection('writing');
const projects = await getCollection('projects');
const sortedEntries = sortEntriesByDate([...writing, ...projects]);
const liveEntries = filterEntriesByStatus(sortedEntries, 'live');
const entries = mapEntryEssentials(liveEntries);

const description = `I've been building on the web for 15 years, helping companies like Apple, Google, Twitter, and the American Music Awards create beautiful and useful experiences for their users.`;
---

<Layout metaTitle="Brad Cerasani" metaDescription={`Hi, I'm Brad. ${description}`}>
  <Header entries={entries} client:idle />
  <main>
    <section>
      <p>
        I've been building on the web for 15 years, helping companies like Apple, Google, Twitter,
        and the American Music Awards create beautiful and useful experiences for their users.
      </p>

      <p>
        I specialize in a mix of visual/interaction design and front-end engineering — which allows
        me to translate ideas into functional prototypes and production-ready code with the full
        fidelity of the web.
      </p>

      <p>
        Here you'll find a medley of writing and side projects that explore software, design,
        architecture, and the internet of things.
      </p>
    </section>

    <section class="u-none u-block@md">
      <Grid gutter="0">
        <GridItem width={{ base: '50%' }}>
          <h4>Elsewhere</h4>
          <SocialLinks client:idle />
        </GridItem>

        <GridItem width={{ base: '50%', md: '50% - var(--spaceMedium)' }}>
          <h4>Photos</h4>
          <ChaosGallery client:idle />
        </GridItem>
      </Grid>
    </section>

    <section class="Entries">
      <h4 style={{ marginBottom: '2rem' }}>Side Projects</h4>
      <div>
        {
          sortedEntries.map((entry) => {
            const { video, image, description } = entry.data;
            return (
              <TimelineItem entry={entry}>
                {video && <PostVideo src={video} size="default" />}
                {image && !video && <PostImage src={image} size="default" alt={description} />}
              </TimelineItem>
            );
          })
        }
      </div>
    </section>

    <style>
      .Links {
        display: none;
      }

      @media (--md) {
        .Links {
          display: block;
        }
      }
      .Entries {
        margin-bottom: var(--spaceLarge);
        margin-top: var(--spaceMedium);
      }
    </style>
  </main>
</Layout>

<span style={{ fontFamily: 'var(--fontFamilySerif)' }}></span>
