---
import { Container, Footer } from 'src/components';
import 'src/styles/_settings.css';
import 'src/styles/animations.css';
import 'src/styles/base.css';
import 'src/styles/fonts.css';
import 'src/styles/utilities.css';
import { stripTags } from 'src/utils';

const { metaTitle, metaDescription, metaImage, metaSlug } = Astro.props;

const title = stripTags(metaTitle ?? 'Brad Cerasani');
const description = metaDescription || 'Designer, engineer, etc.';
const image = metaImage ? metaImage.replace('./', '/') : 'brad-cerasani-office-wide.jpg';
const imageUrl = `https://bradcerasani.me/images${image}?w=1600`;
const url = `https://bradcerasani.me${metaSlug ?? ''}`;
---

<script>
  const images = document.querySelectorAll('img');

  images.forEach((img) => {
    if (!img.complete) {
      img.classList.add('js-is-loading');
      img.onload = () => {
        img.classList.remove('js-is-loading');
      };
    }
  });

  function addArcClassToBody() {
    document.body.classList.add('js-browser-arc');
  }

  function attemptToDetectArcTheme() {
    const MAX_ATTEMPTS = 3;
    let INTERVAL = 50;

    // Some of the CSS custom properties Arc adds to :root
    const PROPERTIES = [
      '--arc-palette-title',
      '--arc-palette-subtitle',
      '--arc-palette-background',
    ];

    // Counter
    let attempt = 0;

    function tryDetect() {
      const isArc = PROPERTIES.some((property) => {
        // getPropertyValue returns an empty string if the property is not set
        return window.getComputedStyle(document.documentElement).getPropertyValue(property) !== '';
      });

      if (isArc) {
        addArcClassToBody();
        localStorage.setItem('BROWSER', 'ARC');
        return;
      } else if (attempt >= MAX_ATTEMPTS) {
        // Storing nonsense string helps prevent redundant future checks
        localStorage.setItem('BROWSER', 'OTHER');
        return;
      }

      attempt++;

      // Increase interval after each attempt (50ms, 100ms, 300ms)
      INTERVAL *= attempt;
      setTimeout(tryDetect, INTERVAL);
    }

    tryDetect();
  }

  const browser = localStorage.getItem('BROWSER');

  // Note: if `browser` already exists, but is not 'ARC': do nothing

  if (browser === 'ARC') {
    addArcClassToBody();
  } else if (!browser) {
    attemptToDetectArcTheme();
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <link rel="canonical" href={url} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={imageUrl} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:image" content={imageUrl} />
    <meta name="twitter:site:id" content="@bradcerasani" />
    <meta name="twitter:creator" content="@bradcerasani" />

    <!-- Note: equivalent to var(--backgroundColor) -->
    <meta name="theme-color" content="hsl(60, 2%, 98%)" media="(prefers-color-scheme: light)" />
  </head>
  <body>
    <Container>
      <slot />
    </Container>

    <Footer client:idle />
  </body>
</html>
